.messageViewerWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  max-width: 100%;
  gap: 0.25rem;
}

.messageWrapper {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.senderIcon {
  display: flex;
}

.infoIcon {
  display: flex;
  min-width: 12px;
  min-height: 12px;
  background-image: url('/channel/NT_NOTIFY.png');
  background-repeat: no-repeat;
  background-position: center;
}

.warnIcon {
  display: flex;
  min-width: 12px;
  min-height: 12px;
  background-image: url('/channel/NT_WARNING.png');
  background-repeat: no-repeat;
  background-position: center;
}

.messageBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  max-width: 100%;
  gap: 0.25rem;
}

.messageBox .header {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.messageBox .header.eventHeader {
  height: 1.8rem;
}

.messageBox .header .name {
  font-weight: bold;
}

.messageBox .header .timestamp {
  margin-left: 0.2rem;
  color: #888;
  font-size: 12px;
}

.messageBox .content {
  color: #000;
  user-select: text;
  word-break: break-all;
}

.username {
  color: #2f94db;
}
